@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
* {
  font-family: "Rubik", sans-serif;
  user-select: none;
}
:root {
  --main-dark: #191a1d;
  --secondary-dark: #1f2024;
  --main-light: #fff;
  --secondary-light: #f4f4f4;
  --main-theme: #356957;
  --hover-theme: #42836d;
}
html {
  background-color: var(--main-dark);
  color: var(--main-light);
}

/* #title {
  font-size: 20px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid rgb(72, 75, 83);
} */
/* #metamaskinput {
  margin: 0.5rem 0;
} */
