.purchase-button {
  color: white;
  padding: 6px 12px;
  outline: none;
  border: none;
  background-color: #2081e2;
  border-radius: 8px;
  opacity: 0.8;
  position: relative;
  z-index: 999;
  font-size: 16px;
}
.rarity-container {
  margin-top: 4px;
  background-color: #111314;
  font-size: 14px;
  color: white;
  white-space: nowrap;
  min-width: 7vw;
  display: flex;
  border-radius: 4px;
}

.rarity-rank {
  padding: 4px 8px;
  flex: 1 0 auto;
}
.rarity-percentage {
  padding: 4px 8px;
  border-radius: 4px;
  min-width: 70px;
  text-align: center;
}

.purchase-button-assets {
  font-size: large;
  color: white;
  padding: 12px 20px;
  outline: none;
  border: none;
  background-color: #2081e2;
  border-radius: 8px;
  opacity: 0.8;
}

.purchase-button-collection {
  font-size: medium;
  color: white;
  padding: 6px 10px;
  outline: none;
  border: none;
  background-color: #2081e2;
  border-radius: 8px;
  opacity: 0.8;
}

.purchase-button:hover {
  opacity: 1;
  transition: 100ms ease-in;
}
.purchase-button-assets:hover {
  opacity: 1;
  transition: 100ms ease-in;
}
.purchase-button-collection:hover {
  opacity: 1;
  transition: 100ms ease-in;
}

.toast-container {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #282c34;
  margin-right: 3rem;
  padding: 1rem 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 999;
  animation: slideUp ease-in-out 200ms;
  animation-fill-mode: forwards;
  border-radius: 8px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.toast {
  font-size: large;
  margin: 0 1rem;
  user-select: none;
}

@keyframes slideUp {
  0% {
    transform: translate(0, -25%);
  }
  100% {
    transform: translate(0, -75%);
  }
}
/* .toast {
      width: fit-content;
      background-color: transparent;
  } */
